@font-face {
  font-family: helvetica2;
  src: url(./HelveticaNeueBold.otf);
}
@font-face {
  font-family: helvetica3;
  src: url(./HelveticaNeueLight.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica2;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  background: radial-gradient(farthest-corner, black, white);
}

main {
  width: 30%;
  height: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}
main header {
  color: white;
  display: grid;
  grid-template-columns: 5% 1fr 100px;
  grid-template-rows: 1fr;
  padding: 20px;
}
main header i {
  grid-column: 1/1;
}
main header p {
  grid-column: 2/2;
}
main header .money {
  grid-column: 4/4;
  width: 50px;
  height: 25px;
  padding: 4px;
  background-color: white;
  border-radius: 10px;
  color: black;
}
main header .money i {
  color: rgb(119, 185, 19);
  font-weight: 600;
}
main .search {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}
main .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
main .suggest {
  display: flex;
  align-items: center;
  gap: 6px;
  background: radial-gradient(at bottom, white, black 60%);
  padding: 6px 10px;
  border-radius: 6px;
  flex: 1;
  color: white;
}
main .suggest span {
  color: grey;
  font-family: helvetica3;
}
main .profile {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}
main .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vh;
}
main .category a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
  font-family: helvetica2;
}
main .category a:hover {
  font-size: 20px;
}
main .category2 {
  width: 100%;
  height: 7vw;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
}
main .category2 .box {
  background-image: url(./men.png);
  width: 22%;
  height: 60%;
  background-color: darkgoldenrod;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}
main .category2 .box p {
  font-size: 15px;
  font-family: helvetica2;
  color: white;
  position: absolute;
  top: 36%;
}
main .category2 .box2 {
  background-image: url(./women.png);
  width: 22%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}
main .category2 .box2 p {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 36%;
}
main .category2 .box3 {
  background-image: url(./kids.png);
  width: 22%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}
main .category2 .box3 p {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 36%;
}
main .products .product-images img {
  width: 150px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */